.title {
  display: flex;
  font-size: 36px;
  margin: 0 0 16px;
  line-height: 1.2;
  letter-spacing: 2px;
  align-items: flex-start;
  font-family: 'Luckiest Guy';
  color: rgba(255, 198, 64, 0.9);
}
