.header {
  background: #181a26;

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 1292px;
    padding: 18px 16px;
    align-items: center;
  }

  &__logo {
    margin-right: 60px;
  }

  &__links {
    display: grid;
    grid-gap: 24px;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
  }

  &__link {
    padding: 2px;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;

    &--active,
    &:hover {
      background: linear-gradient(-90deg, #2f90ff 0%, #2770c3 100%);
    }

    &-label {
      display: block;
      padding: 4px 24px;
      border-radius: 16px;
      background: #181a26;
    }
  }

  .connect-button {
    margin-left: auto;
  }
}
